@import "../helpers/color-scheme-and-device.scss";

$positions: static, relative, fixed, absolute, sticky;
$displays: none, inline, block, inline-block;
$flexDirections: row, row-reverse, column, column-reverse;
$alignItems: stretch, center, flex-start, flex-end, baseline;
$justifyContents: flex-start, flex-end, center, space-between, space-around, space-evenly;

$selectors: "flex";
@include colorSchemeAndDevice($selectors) {
  display: flex;

  &-align-items {
    @each $alignItem in $alignItems {
      &-#{$alignItem} {
        align-items: $alignItem;
      }
    }
  }

  &-justify-content {
    @each $justifyContent in $justifyContents {
      &-#{$justifyContent} {
        justify-content: $justifyContent;
      }
    }
  }

  &-direction {
    @each $direction in $flexDirections {
      &-#{$direction} {
        flex-direction: #{$direction};
      }
    }
  }

  @for $flexGrow from $ui_displayFlexGrowBottomLimit through $ui_displayFlexGrowTopLimit {
    &-grow-#{$flexGrow} {
      flex-grow: #{$flexGrow};
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

$selectors: "position";
@include colorSchemeAndDevice($selectors) {
  @each $position in $positions {
    &-#{$position} {
      position: #{$position};
    }
  }
}

$selectors: "display";
@include colorSchemeAndDevice($selectors) {
  @each $display in $displays {
    &-#{$display} {
      display: #{$display};
    }
  }
}

$selectors: "block";
@include colorSchemeAndDevice($selectors) {
  display: block;
}
