@import "../helpers/color-scheme-and-device.scss";

$positions: static, relative, fixed, absolute, sticky;
$displays: none, inline, block, inline-block;
$flex-directions: row, row-reverse, column, column-reverse;
$align-items: stretch, center, flex-start, flex-end, baseline;
$justify-contents: flex-start, flex-end, center, space-between, space-around, space-evenly;

$selectors: "flex";
@include colorSchemeAndDevice($selectors) {
  display: flex;

  &-align-items {
    @each $align-item in $align-items {
      &-#{$align-item} {
        align-items: $align-item;
      }
    }
  }

  &-justify-content {
    @each $justify-content in $justify-contents {
      &-#{$justify-content} {
        justify-content: $justify-content;
      }
    }
  }

  &-direction {
    @each $direction in $flex-directions {
      &-#{$direction} {
        flex-direction: #{$direction};
      }
    }
  }

  @for $flex-grow from 0 through 20 {
    &-grow-#{$flex-grow} {
      flex-grow: #{$flex-grow};
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

$selectors: "position";
@include colorSchemeAndDevice($selectors) {
  @each $position in $positions {
    &-#{$position} {
      position: #{$position};
    }
  }
}

$selectors: "display";
@include colorSchemeAndDevice($selectors) {
  @each $display in $displays {
    &-#{$display} {
      display: #{$display};
    }
  }
}

$selectors: "block";
@include colorSchemeAndDevice($selectors) {
  display: block;
}
