@import "../helpers/color-scheme-and-device.scss";

$selectors: "margin", "m";
@include colorSchemeAndDevice($selectors) {
  &-no {
    margin: 0px !important;
  }

  &-x-no {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  &-y-no {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  @for $space from $ui_marginSizeBottomLimit through $ui_marginSizeTopLimit {
    &-#{$space} {
      margin: #{$space}px !important;
    }

    &-top-#{$space},
    &-t-#{$space} {
      margin-top: #{$space}px !important;
    }

    &-right-#{$space},
    &-r-#{$space} {
      margin-right: #{$space}px !important;
    }

    &-bottom-#{$space},
    &-b-#{$space} {
      margin-bottom: #{$space}px !important;
    }

    &-left-#{$space},
    &-l-#{$space} {
      margin-left: #{$space}px !important;
    }

    &-x-#{$space} {
      margin-right: #{$space}px !important;
      margin-left: #{$space}px !important;
    }

    &-y-#{$space} {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }
  }
}

$selectors: "padding", "p";
@include colorSchemeAndDevice($selectors) {
  &-no {
    padding: 0px;
  }

  &-x-no {
    padding-right: 0px;
    padding-left: 0px;
  }

  &-y-no {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @for $space from $ui_paddingSizeBottomLimit through $ui_paddingSizeTopLimit {
    &-#{$space} {
      padding: #{$space}px !important;
    }

    &-top-#{$space},
    &-t-#{$space} {
      padding-top: #{$space}px !important;
    }

    &-right-#{$space},
    &-r-#{$space} {
      padding-right: #{$space}px !important;
    }

    &-bottom-#{$space},
    &-b-#{$space} {
      padding-bottom: #{$space}px !important;
    }

    &-left-#{$space},
    &-l-#{$space} {
      padding-left: #{$space}px !important;
    }

    &-x-#{$space} {
      padding-right: #{$space}px !important;
      padding-left: #{$space}px !important;
    }

    &-y-#{$space} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }
  }
}
