@import "../helpers/color-scheme-and-device.scss";

$overflowOptions: visible, hidden, scroll, auto;

$selectors: "overflow";
@include colorSchemeAndDevice($selectors) {
  @each $overflowOption in $overflowOptions {
    &-#{$overflowOption} {
      overflow: $overflowOption;
    }

    &-x-#{$overflowOption} {
      overflow-x: $overflowOption;
    }

    &-y-#{$overflowOption} {
      overflow-y: $overflowOption;
    }
  }
}
