@import "../helpers/color-scheme-and-device.scss";

$selectors: "width", "w";

@include colorSchemeAndDevice($selectors) {
  @for $widthPixel from $ui_widthPixelBottomLimit through $ui_widthPixelTopLimit {
    &-#{$widthPixel}px {
      width: calc(#{$widthPixel} * 1px);
      max-width: calc(#{$widthPixel} * 1px);
    }
  }

  @for $widthPercentage from $ui_widthPercentageBottomLimit through $ui_widthPercentageTopLimit {
    &-#{$widthPercentage} {
      width: calc(#{$widthPercentage} * 1%);
    }
  }
}
