@import "../helpers/color-scheme-and-device.scss";

$width_percentages: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

$selectors: "width", "w";
@include colorSchemeAndDevice($selectors) {
  @for $widthPixel from 0 through 1200 {
    &-#{$widthPixel}px {
      width: calc(#{$widthPixel} * 1px);
      max-width: calc(#{$widthPixel} * 1px);
    }
  }

  @each $width_percentage in $width_percentages {
    &-#{$width_percentage} {
      width: calc(#{$width_percentage} * 1%);
    }
  }
}
