@import "./breakpoints.scss";

.#{$ui_class-prefix}container {
  overflow: auto;
  position: relative;
  width: 100%;

  &-boxed {
    overflow: auto;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

    @include screenSize(upToDesktop) {
      width: 100%;
      margin: unset;
    }
  }
}
