$fontWeights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $ui_font-family, sans-serif;
  font-weight: $ui_font-normal;
}

.#{$ui_class-prefix}font,
.#{$ui_class-prefix}f {
  &-light,
  &-l {
    font-weight: $ui_font-light;
  }

  &-normal,
  &-n {
    font-weight: $ui_font-normal;
  }

  &-bold,
  &-b {
    font-weight: $ui_font-bold;
  }

  &-weight,
  &-w {
    @each $fontWeight in $fontWeights {
      &-#{$fontWeight} {
        font-weight: #{$fontWeight};
      }
    }
  }

  @for $fontSize from 0 through 100 {
    &-#{$fontSize} {
      font-size: #{$fontSize}px;
    }
  }
}
