
.#{$ui_class-prefix}height {
  @for $heightPixel from 0 through 1200 {
    &-#{$heightPixel}px {
      height: calc(#{$heightPixel} * 1px);
      max-height: calc(#{$heightPixel} * 1px);
    }
  }

  @for $heightPercentage from 0 through 100 {
  // @each $heightPercentage in $heightPercentages {
    &-#{$heightPercentage} {
      height: calc(#{$heightPercentage} * 1%);
    }
  }
}
