@use "sass:color";

.#{$ui_class-prefix}table {
  width: 100%;
  border-collapse: collapse;

  &-striped {
    tbody {
      tr:nth-of-type(odd) {
        background-color: darken(white, 6%);
      }
    }
  }

  thead {
    border-bottom: 2px solid $ui_color-dark;
  }

  tbody {
    tr {
      border-bottom: 1px solid lighten($ui_color-dark, 70%);
    }
  }

  th,
  td {
    padding: 10px;
  }
}