// General
$ui_classPrefix: "" !default;

// Fonts
$ui_fontFamily: Segoe UI !default;
$ui_fontLight: 100 !default;
$ui_fontNormal: 400 !default;
$ui_fontBold: 700 !default;
$ui_fontSizeBottomLimit: 0 !default;
$ui_fontSizeTopLimit: 64 !default;

// Border radius
$ui_borderRadius: 4px !default;
$ui_borderBottomLimit: 0 !default;
$ui_borderTopLimit: 30 !default;
$ui_borderRadiusBottomLimit: 0 !default;
$ui_borderRadiusTopLimit: 20 !default;

// Breakpoints
$ui_breakpointMobile: 425px !default;
$ui_breakpointTablet: 768px !default;
$ui_breakpointDesktop: 1024px !default;

// Colors
$ui_colorWhite: white !default;
$ui_colorPrimary: rgb(19, 102, 245) !default;
$ui_colorSecondary: rgb(97, 106, 113) !default;
$ui_colorSuccess: rgb(29, 124, 77) !default;
$ui_colorDanger: rgb(213, 44, 64) !default;
$ui_colorWarning: rgb(254, 183, 51) !default;
$ui_colorLight: rgb(247, 248, 249) !default;
$ui_colorDark: rgb(30, 33, 36) !default;
$ui_colorBackgroundPercentageLevelBottomLimit: -10 !default;
$ui_colorBackgroundPercentageLevelTopLimit: 10 !default;
$ui_colorPercentageLevelBottomLimit: -10 !default;
$ui_colorPercentageLevelTopLimit: 10 !default;

// Buttons
$ui_buttonBorderRadius: $ui_borderRadius !default;
$ui_buttonPrimaryFontColor: $ui_colorLight !default;
$ui_buttonSecondaryFontColor: $ui_colorLight !default;
$ui_buttonSuccessFontColor: $ui_colorLight !default;
$ui_buttonDangerFontColor: $ui_colorLight !default;
$ui_buttonWarningFontColor: $ui_colorDark !default;
$ui_buttonLightFontColor: $ui_colorDark !default;
$ui_buttonDarkFontColor: $ui_colorLight !default;

// Columns
$ui_columnBottomLimit: 1 !default;
$ui_columnTopLimit: 12 !default;

// Displays
$ui_displayFlexGrowBottomLimit: 0 !default;
$ui_displayFlexGrowTopLimit: 20 !default;

// Height
$ui_heightPixelBottomLimit: 0 !default;
$ui_heightPixelTopLimit: 400 !default;
$ui_heightPercentageBottomLimit: 0 !default;
$ui_heightPercentageTopLimit: 100 !default;

// Width
$ui_widthPixelBottomLimit: 0 !default;
$ui_widthPixelTopLimit: 400 !default;
$ui_widthPercentageBottomLimit: 0 !default;
$ui_widthPercentageTopLimit: 100 !default;

// Input
$ui_inputTransformScale: 1.4 !default;

// Margin & padding
$ui_marginSizeBottomLimit: 0 !default;
$ui_marginSizeTopLimit: 400 !default;
$ui_paddingSizeBottomLimit: 0 !default;
$ui_paddingSizeTopLimit: 400 !default;
